@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --white: #f7f5f1;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'EB Garamond', serif;
  font-style: normal;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 2rem 3rem 2rem 3rem;
  font-size: 16px;
  background-color: var(--white);
}

h1 {
  font-size: 44px;
  font-weight: 400;
  float: right;
  max-width: 200px;
  text-align: right;
  line-height: 1.3;
  margin: 0;
}

h2 {
  text-align: center;
  font-weight: 400;
  font-size: 52px;
  margin-top: 5rem;
}

h3 {
  font-size: 41px;
  font-weight: 400;
}

h4 {
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  margin: 0;
}

header {
  display: flex;
  width: 100vw;
  justify-content: flex-end;
  padding: 0px 85px 0 0;
  position: absolute;
}

nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 2;
}

nav > div {
  font-size: 46px;
  font-weight: 400;
  margin: 0;
  transition: margin-left 0.5s ease-out;
}

nav > div:hover {
  opacity: 50%;
  cursor: pointer;
}

#selectedNavItem {
  margin-left: 20px;
}

.featureDescription,
.roomDescription {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.featureDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  min-height: 200px;
}

.featureImg {
  max-width: 240px;
}

.hotelName {
  position: sticky;
  height: 200px;
  top: 20px;
  width: 100%;
}

.introduction {
  max-width: 540px;
  font-size: 32px;
  text-align: center;
  margin: 0;
}

.hero {
  height: 76vh;
  padding: 0 0 0 4rem;
}

.apple {
  max-width: 800px;
}

.booking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem 2rem 2rem;
}

.formContainer {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

.booking {
  display: none;
}

form {
  z-index: 1;
  max-width: 500px;
  height: 460px;
  padding: 0rem 2rem;
}

button {
  font-size: 28px;
  font-family: 'EB Garamond', serif;
  padding: 1rem 2rem;
}

button:hover {
  cursor: pointer;
}

input {
  height: 4rem;
  width: 45%;
  padding: 0rem 2rem;
  margin: 0 1rem 1rem 0;
  font-family: 'EB Garamond', serif;
  font-size: 24px;
  font-weight: 400;
  border: 1px solid black;
  background-color: var(--white);
}

.checkbox {
  height: 25px;
  width: 25px;
  margin: 0rem 0.7rem 0rem 0rem;
  background-color: var(--white);
}

.emailInput {
  width: 94.5%;
}

.transferCode {
  width: 94.5%;
}

/* dont display roomtype */
select {
  display: none;
}

.features {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.5;
}

.featureLabel {
  margin-right: 0.7rem;
}

.featurePrice {
  display: flex;
  justify-content: space-between;
}

.succesfullBooking {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.succesfullBooking p {
  max-width: 410px;
  line-height: 1.4;
  font-size: 18px;
}

.showJSON {
  display: flex;
  justify-content: center;
  width: 100%;
}

.JSONbutton {
  background-color: #dcdcdc;
}

.JSONbutton:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}

.calendarColors {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  /* padding: 5rem 0rem 4rem 0rem; */
}

.calendarColor {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.calendarCategory {
  margin-bottom: 20px;
}

.colorBox {
  width: 30px;
  height: 30px;
  background-color: black;
  margin-right: 15px;
}

.grayBox {
  background-color: #b2b2b2;
}

.orangeBox {
  background-color: #fd9768;
}

.blueBox {
  background-color: #6da7e9;
}

footer {
  margin-top: 4rem;
  width: 100%;
  border-top: 1px solid black;
  padding: 2rem 2rem 0rem 2rem;
}

.footerForm {
  margin-top: 1rem;
  max-width: none;
  height: auto;
  width: 50%;
  padding: 0;
}

.footerForm input {
  font-size: 18px;
  height: 2.5rem;
  width: 25%;
  padding: 0.5rem 0.7rem;
}

.footerForm button {
  font-size: 18px;
  padding: 0.4rem 1rem;
}

.offer {
  display: flex;
  justify-content: center;
}

.offer > h2 {
  font-size: 48px;
  max-width: 380px;
  line-height: 1.2;
}

/* calendar styles */

.calendar {
  z-index: 1 !important;
  font-family: 'EB Garamond', serif !important;
  font-size: 18px !important;
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important;
  max-width: 375px !important;
  min-width: 400px !important;
  border: 1px solid black;
}

.date-selected-start,
.date-selected-end,
.date-selected,
.date-selected-range {
  background-color: rgb(109, 167, 234) !important;
}

tbody {
  background-color: #eeeeee !important;
}

.calendar tbody tr td {
  padding: 5px 0px !important;
}

.mask,
.mask-start,
.mask-end {
  background-color: #fd9768 !important;
  cursor: default !important;
}

.day:hover,
.calendar tbody tr td.today:hover {
  background-color: rgb(166, 221, 154) !important;
  cursor: pointer;
}

.calendar-title th {
  font-size: 28px !important;
  background-color: var(--white) !important;
  font-weight: 400 !important;
}

.calendar-header th {
  padding: 10px;
  text-align: center;
  font-weight: 400;
  background: var(--white) !important;
}

.calendar tbody tr td.day div:first-child {
  padding-top: 15px !important;
}

.date-selected-range {
  background-color: rgb(255, 162, 205) !important;
}
